body {
  font-family: "Bona Nova", serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
span {
  color: indigo;
}
.flexible-container {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 50px;
}
.half-width img {
  width: 50%;
}
.follow-button {
  background-image: linear-gradient(purple, violet);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.me {
  padding-left: 20%;
}
.top-banner {
  background-image: url(Images/top-banner.png);
  background-repeat: no-repeat;
}

h3 {
  font-size: 32px;
  color: blueviolet;
}
p {
  text-align: justify;
}

.dream {
  background-image: url(Images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
#full-stack {
  box-shadow: 10px 10px 30px black;
  padding-left: 80px;
  padding-right: 80px;
  border-image: url();
  margin: 50px 50px;
  border-left: 10px solid;
  border-image: linear-gradient(navy, cyan);
  border-image-slice: 1;
}
.experience-area {
  background-image: url(Images/exp-bg.png);
  background-repeat: no-repeat;
}

footer {
  text-align: center;
}
